<li>
    <a href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=bnsales_stockinfo"}]" data-toggle="tooltip" data-placement="bottom" title="[{oxmultilang ident="TIP_MY_FAVORITES"}]"><span class="ladda-label">[{oxmultilang ident="stockinfoalert"}]</span></a>
</li>
