body {
    background-color:whitesmoke;
}
@media (max-width: 575px){
    .textMitte {
        padding-left: 10%;
    }
}
@media (max-width:767px){
    .cuttitle{
        text-overflow: ellipsis;
        overflow: hidden;
        max-width:250px;
        white-space: nowrap;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .cuttitle {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px;
        white-space: nowrap;
    }
}
.bodyEmail{
    background-color:white;
}
.footerEmail{
    margin-top: 100px;
    background-color:lightgray;
}
.footerEmail a {
    color: #0a6aa1;
}
.paddingLeft{
    padding-left:.75rem;
}